:root {
  --bg: #121212;
  --calc-bg: #1e1e1e;
  --btn: #333;
  --text: #f87a7a;
}

body.light {
  --bg: #f5f5f5;
  --calc-bg: #ffffff;
  --btn: #ddd;
  --text: #000;
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator {
  background: var(--calc-bg);
  padding: 20px;
  border-radius: 10px;
  width: 350px;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#themeToggle {
  cursor: pointer;
  font-size: 20px;
}

#display {
  width: 95.99%;
  height: 60px;
  margin: 15px 0;
  font-size: 2rem;
  text-align: right;
  border-radius: 10px;
  border: none;
  padding: 10px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  padding: 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: var(--btn);
  color: var(--text);
  transition: 0.2s;
}

button:hover {
  opacity: 0.8;
}

.equals {
  grid-row: span 2;
  background: #03dac6;
  color: #000;
}

.zero {
  grid-column: span 2;
}

.clear {
  background: #e53935;
}

.delete {
  background: #ff9800;
}

.history {
  margin-top: 15px;
}

.history ul {
  max-height: 100px;
  overflow-y: auto;
  padding-left: 15px;
}
